#aboutPage{
    min-height:100vh;
}
a.aPropos.active{
    text-decoration: underline;
}
.banner{
    position:relative;
    margin-bottom: 15px;
    .mountain-mobile {
        width: 100%;
        height: 223px;
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(70%);
        margin-bottom: 15px;
    }
    .mountain-desktop{
        display: none;
    }
}

.dropdown {
    color: $primary-color;
	background-color: $secondary-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 7px;
    > button{
        font-size: 13px;
        font-weight: 500;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            margin-left: 12px;
            font-size: 13px 
        }
        img{
            margin-right: 7px;
        }
    }
    p{
        font-size: 12px;
        margin:15px 5px 50px 10px;
        line-height: 17px;
        
    }
}

.dropdown-toogle-button{
    width: 100%;
    height: 30px;
    background: $primary-color;
	border-radius: 3px;
	font-weight: 600;
	cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



 


