.logements{
    min-height:100vh;
    .slideshow img{
        object-fit: cover;
        height: 255px;
        width: 100%;
        border-radius: 10px;
        
    }
    .hidden{
        display: none;
    }
    .visible{
        display: flex;
        
    }

    button{
        background-color: transparent;
    }
    
    .button-slideshow{
        position: relative;
        margin: -140px 10px 140px 10px ;
        display: flex;
        justify-content: space-between;
        font-size: 19.8px;
        path{
            color: white;
        }
        
    }
}
.rating-host{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    .kasa-host{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        //margin-bottom: 15px;
        .name{
            display: flex;
            font-size: 12px;
            width: 80px;
            height: 33px;
            color: $primary-color;
            align-items:center;
            justify-content:flex-end;
            margin-right: 10px;
            text-align: right;
        }
        .profilPhoto{
            width: 32px;
            border-radius: 50%;
        }
    }

    .stars{
        display: flex;
        width:200px;
        margin-top: 20px;
        img{
            width: 15px;
            height: 15px;
            margin-right: 3px;
        }
    }
}

.tags{
    display: flex;
    font-size: 10px;
    color: white;
    height:18px;
    width: 100%;
    p{
        padding:0 10px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        border-radius: 5px;
    }
    
}

.location{
    font-size: 14px;
    margin-bottom: 15px;
    color: $primary-color;
}

.title{
    font-size:18px;
    margin-bottom: 15px;
    color: $primary-color;
}


.dropdown-toogle-button{
    height: 29.93px;
    border-radius: 5px;
    h1{
        margin-left: 15px;
        font-size: 13px;
        font-weight: 500;
        color: white;
    }
    svg{
        margin-right: 15px;
        color: white;
    }
}

.dropdown-texte{
    p{
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
    }
    li{
        margin-top:20px ;
        margin-left:10px;
        font-size: 12px;
        line-height: 0px;
    }
}
