.footer{
    margin-top: 25px;
    width: 100%;
    height: 209px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img.kasa-logo {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 80px;
    }
    img.kasa-copyright{
        width:  40%;
        margin-bottom: 20px;
    }
}
